.todoPage {
  margin: 50px 20px;
  width: 700px;

  @media (max-width: 800px) {
    width: -webkit-fill-available;
  }
}

.todoList {
  margin: 20px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todosCount {
  border-top: 1px solid #04aa6d;
  display: flex;
  gap: 5px;
  justify-content: end;
}

.emtyLabel {
  color: #a3a3a3;
}

.inputContainer {
  display: flex;
  gap: 5px;

  & input {
    width: 100%;
    font-size: 18px;
    padding: 12px 20px;
    box-sizing: border-box;
  }

  & button {
    background-color: #04aa6d;
    border: none;
    color: #ffffff;
    padding: 12px 20px;
    text-decoration: none;
    transition: all 3ms;
    cursor: pointer;

    &:hover {
      background-color: #01a166;
    }
  }
}

.validationMessage {
  color: #ff6d59;
  font-size: 14px;
  margin: 0;
  padding: 5px 0 0 0;

  &.isVisible {
    opacity: 0;
  }
}
