.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  & button {
    background-color: transparent;
    border: none;
    color: #ff6d59;
    padding: 12px 20px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.todoValue {
  font-size: 20px;
  margin: 0;
  cursor: pointer;

  &.done {
    text-decoration: line-through;
    color: rgb(135, 135, 135);
  }
}
